extends layouts/default_layout
block content
    form(action='/login', method='post')
        br
        label #{email}
        br
        input(type='email', name='email')
        br
        br
        label #{password}
        br
        input(type='password', name='password')
        br
        br
        input(type='submit', value=signIn)
        br
        br
        a(href='/register'): button(type="button") #{orYouNotHaveAccount}?